Game Overview -

In Alien Invasion, the player controls a ship that appears at
the bottom center of the screen. The player can move the ship
right and left using the arrow keys and shoot bullets using the
spacebar. When the game begins, a fleet of aliens fills the sky
and moves across and down the screen. The player shoots and
destroys the aliens. If the player shoots all the aliens, a new fleet
appears that moves faster than the previous fleet. If any alien hits
the player’s ship or reaches the bottom of the screen, the player
loses a ship. If the player loses three ships, the game ends.

Software Requirements -

1. Create a ship that files bullets
	1. Add the ship image
		a. Creating the Ship Class
		b. Drawing the ship on the screen
	2. Refactor the _check_events() and _update_screen() Methods
		a. The _check_events() Method
		b. The _update_screen() Method
	3. Pilot the ship
		a. Responding to keypresses
		b. Allowing continuous movement
		c. Moving Both Left and Right
		d. Adjusting the Ship’s Speed
		e. Limiting the Ship’s Range
		f. Pressing Q to Quit
		g. Running the Game in Fullscreen Mode
	4. Shoot bullets
		a. Adding the Bullet Settings
		b. Creating the Bullet Class
		c. Storing Bullets in a Group
		d. Firing Bullets
		e. Deleting Old Bullets
		f. Limiting the Number of Bullets
		g. Creating the _update_bullets() Method

2. Create the aliens
	1. Create the first alien
		a. Creating the Alien Class
		b. Creating an Instance of the Alien
	2. Build an alien fleet
		a. Creating a Row of Aliens
		b. Refactoring _create_fleet()
		c. Adding Rows
	3. Make the fleet move
		a. Moving the Aliens Right
		b. Creating Settings for Fleet Direction
		c. Checking Whether an Alien Has Hit the Edge
		d. Dropping the Fleet and Changing Direction
	4. Make them shooting aliens
		a. Detecting Bullet Collisions
		b. Repopulating the Fleet
		c. Speeding Up the Bullets
		d. Refactoring _update_bullets()

3. End the game
	a. Detecting Alien and Ship Collisions
	b. Responding to Alien and Ship Collisions
	c. Create a game stats class
	d. Aliens that Reach the Bottom of the Screen
	e. Game Over!
	f. Identifying When Parts of the Game Should Run

4. Create the scoring board
	1. Add the play button
		a. Creating a Button Class
		b. Drawing the Button to the Screen
		c. Starting the Game
		d. Resetting the Game
		e. Deactivating the Play Button
		f. Hiding the Mouse Cursor
	2. Add a level up feature
		a. Modifying the Speed Settings
		b. Resetting the Speed
	3. Keep the Score and Display it
		a. Zeroize the score
		b. Displaying the Score
		c. Making a Scoreboard
		d. Updating the Score as Aliens Are Shot Down
		e. Resetting the Score
		f. Making Sure to Score All Hits
		g. Increasing Point Values
		h. Rounding the Score
		i. High Scores
		j. Displaying the Level
		k. Displaying the Number of Ships
		











